<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <img src="/images/logo2.jpeg" alt="Logo">
<div style="background-image: url(/logo2.jpeg);">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum iste cum error commodi eos quos officia rerum esse. Quos hic error a ullam, ex ad dolorum nam perspiciatis beatae. Animi, vero sapiente ducimus laboriosam voluptatem odio iusto minus consequuntur accusamus deleniti quia architecto aspernatur dicta ut perspiciatis repellat, culpa quas a ratione temporibus adipisci error necessitatibus. Voluptates quibusdam alias explicabo. Rem aut, quis ad amet officia aliquid sit sunt vitae minus incidunt molestias sint tempora, corrupti porro error voluptates, a saepe ea molestiae ullam soluta consequatur totam repellat. Atque, earum quod labore voluptatibus eos provident doloribus commodi! Velit pariatur dolor nostrum temporibus ea ipsum earum, eius repellendus quo ratione saepe quos quibusdam soluta, nesciunt illo facilis incidunt, debitis corrupti tenetur.</div>
</body>
</html>