<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
  integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
  crossorigin="anonymous" referrerpolicy="no-referrer" />
<!-- <link rel="stylesheet" href="sign.css"> -->

<style>
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}



.container{
    background-color: #fff;
    width: 450px;
    padding: 1.5rem;
    margin: 50px auto;
    border-radius: 10px;
    box-shadow: 0 20px 35px rgba(0,0,1,0.9);
}

form{
    margin: 0 2rem;
}

.form-title{
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    padding: 1.3rem;
    margin-bottom: 0.4rem;
}

input{
    color: inherit;
    width: 100%;
    background-color:transparent;
    border: none;
    border-bottom: 1px solid #757575;
    padding-left: 1.5rem;
    font-size: 15px;
}

.input-group{
    padding: 1% 0;
    position: relative;
}

.input-group i{
    position: absolute;
    color: black;
    margin-top: 5px;
}

input:focus{
    background-color:transparent;
    outline: transparent;
    border-bottom: 2px solid hsl(327,90%,28%);
}

input::placeholder{
    color: transparent;
}
/* .recover {
    text-align:right;
    font-size: 1rem;
    margin-bottom: 1rem;
}

.recover a{
    text-decoration: none;
    color: rgb(125,125,235);
}

.recover a:hover{
    color: blue;
    text-decoration: underline;
} */

label{
    color: #757575;
    position: relative;
    left: 1.2em;
    top: -1.5em;
    cursor:auto;
    transition: 0.3s ease all;
}

input:focus~label,input:not(:placeholder-shown)~label{
   top: -3em;
   color: hsl(327,90%,28%);
   font-size: 15px;
}


.btn{
    font-size: 1.1rem;
    padding: 8px 0;
    border-radius: 5px;
    outline: none;
    border: none;
    width: 100%;
    background-color:rgb(125,125,235);
    color: #fff;
    cursor: pointer;
    transition: 0.9s;
}

.btn:hover{
    background-color:#07001f;
}

.icons{
    text-align: center;
}


.icons i{
    color: rgb(125,125,235);
    padding: 0.8rem 1.5rem;
    border-radius: 10px;
    font-size: 1.5rem;
    cursor: pointer;
    border: 2px solid #dfe9f5;
    margin: 0 15px;
    transition: 1s;
}

.icons i:hover{
    background-color:#07001f;
    font-size: 1.6rem;
    border: 2px solid rgb(125,125,235);
}

button{
    color: rgb(125,125,235);
    border: none;
    background-color:transparent;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

button:hover{
    text-decoration: underline;
    color: blue;
}


</style>
</head>
<body>
  <div class="container" id="signup">
    <h1 class="form-title">SignUp</h1>
    <form method="post" action="/api/signup" id="signUpForm" enctype="multipart/form-data">
      <div class="input-group">
        <i class="fas fa-user"></i>
        <input type="text" name="fName" id="fName" placeholder="First Name" required />
        <label for="fname">First Name</label>
      </div>
      <div class="input-group">
        <i class="fas  fa-user"></i>
        <input type="text" name="lName" id="lName" placeholder="Last Name" required />
        <label for="lName">Last Name</label>
      </div>
      <div class="input-group">
        <i class="fas fa-envelope"></i>
        <input type="email" name="email" id="email" placeholder="Email" required />
        <label for="email">Email</label>
      </div>
      <div class="input-group">
        <i class="fas fa-lock"></i>
        <input type="password" name="password" id="password" placeholder="Password" required />
        <label for="password">Password</label>
      </div>
      <div class="input-group">
        <i class="fa fa-upload"></i>
        <input type="file" id="signature" name="signature" accept=".jpg, .jpeg, .png, .gif"placeholder="signature" required hidden multiple/>
        <label for="signature" style="position:relative;top: 2px;">Upload Your Signature</label>
      </div>
<br>
      <input type="submit" class="btn" value="Sign Up" name="signUp">
    </form>
    <p id="message"></p>
  </div>
</div>
</body>
</html>
